.homeMain {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  background-color: darkslategray;
}
/* .hero {
  background-image: url('');
} */

.heroImage {
  width: 100%;
  /* background-image: url('');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

/* .featureImage {
  width: 70%;
} */

.homeAbout {
  background-color: rgb(38, 38, 38);
  color: white;
  margin: 2%;
  padding: 2%;
}

.homeFeatures {
  width: 100%;
  text-align: center;
  /* font-size: 1.4rem; */
}

.homeFeature {
  display: inline-block;
  /* background-color: rgb(46, 46, 46); */
  color: white;
  margin: 2%;
  padding: 2%;
  width: 23.3%;
}

.homeContact {
  width: 96%;
  background-color: rgb(38, 38, 38);
  color: white;
  margin: 2%;
  padding: 2%;
  text-align: center;
}

.homeWelcome {
  text-align: center;
}

